<p>
Hello This is my Website
</p>

<p>
I LOVE TACOS 
</p>

<p>
Order One of these
</p>


<% fillings = ["Steak", "Chicken"] %>


<ul>
  <% for filling in fillings %>
  <li><%= filling %></li>
  <% end %>
</ul>
